.details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid gray;
    padding: 15px;
    margin: 15px;
    margin-left: 95px;
}
.text{
    padding-top: 50px;
    padding-left: 20px;
}