Nav, Nav a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}
Nav a:hover{
    color: aqua;
}
.btn-login-out{
    text-align: right;
    color: white;
}
.fixed-top{
    margin-left: -15px;
}